{% extends 'tree/base.html' %}

{% block title %}Редактирование анкеты{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>✏️ Редактирование моей анкеты</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Фамилия</label>
                            {{ form.last_name }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Имя</label>
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Отчество</label>
                            {{ form.patronymic }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Дата рождения</label>
                            {{ form.birth_date }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Место рождения</label>
                            {{ form.birth_place }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Место работы</label>
                            {{ form.job }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Должность</label>
                            {{ form.position }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Образование</label>
                        {{ form.education }}
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Хобби</label>
                        {{ form.hobbies }}
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'profile_view' %}" class="btn btn-secondary">Отмена</a>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}